:root {
  @media (prefers-color-scheme: dark) {
    --g-bg-body-color: var(--g-gray-900);
    --g-bg-color: var(--g-gray-800);
    --g-text-color: var(--g-gray-300);
    --g-border-color: var(--g-gray-800);
    --g-shadow-color: var(--g-gray-1000);
  }
}
