// -----------------------------------------------------------------------------
// Generate List of additional spacing utility classes based on $g-spacers list.
// eg. .p-100, .mt-200, .me-100 etc.
// -----------------------------------------------------------------------------

@each $name, $value in $g-spacers {
  // -----------------------------------------------------------------------------
  // Paddings
  // -----------------------------------------------------------------------------

  .p-#{$name} {
    padding: $value !important;
  }

  .py-#{$name} {
    padding-block: $value !important;
  }

  .px-#{$name} {
    padding-inline: $value !important;
  }

  .pt-#{$name} {
    padding-top: $value !important;
  }

  .pb-#{$name} {
    padding-bottom: $value !important;
  }

  .ps-#{$name} {
    padding-left: $value !important;
  }

  .pe-#{$name} {
    padding-right: $value !important;
  }

  // -----------------------------------------------------------------------------
  // Margins
  // -----------------------------------------------------------------------------

  .m-#{$name} {
    margin: $value !important;
  }

  .my-#{$name} {
    margin-block: $value !important;
  }

  .mx-#{$name} {
    margin-inline: $value !important;
  }

  .mt-#{$name} {
    margin-top: $value !important;
  }

  .mb-#{$name} {
    margin-bottom: $value !important;
  }

  .ms-#{$name} {
    margin-left: $value !important;
  }

  .me-#{$name} {
    margin-right: $value !important;
  }

  // -----------------------------------------------------------------------------
  // Gaps
  // -----------------------------------------------------------------------------

  .g-#{$name} {
    gap: $value !important;
  }

  .gcol-#{$name} {
    column-gap: $value !important;
  }

  .grow-#{$name} {
    row-gap: $value !important;
  }
}
