// -----------------------------------------------------------------------------
// Generate text utility classes .h1, .h2, body, label, text-100
// -----------------------------------------------------------------------------

@each $textItem, $textStyles in $g-text-styles {
  .#{$textItem} {
    @each $textType, $textProperties in $textStyles {
      #{$textType}: $textProperties;
    }
  }
}

@each $name, $value in $g-font-sizes {
  .fs-#{$name} {
    font-size: $value !important;
  }
}

// -----------------------------------------------------------------------------
// Font weights
// -----------------------------------------------------------------------------

.fw-regular {
  font-weight: var(--g-fw-regular);
}

.fw-medium {
  font-weight: var(--g-fw-medium);
}

.fw-bold {
  font-weight: var(--g-fw-bold);
}

// Text truncate
.text-truncate {
  @include g-text-truncate;
}

// Text truncate
.text-balance {
  text-wrap: balance;
}

// Line clamp

.line-clamp-2 {
  @include g-line-clamp(2);
}

.line-clamp-3 {
  @include g-line-clamp(3);
}
